
body {
    overflow-y: scroll;
    color: white;
}
* {
  overflow: hidden;
  color: white;
}
body, html{
    height: 100vh;
    background-color: black;
}

/* FONTING  */
@font-face{
    font-family: myFont;
    src:url(PFSpekkVAR-Light-subset.otf);
    
}

*{
    font-family: myFont;
}

@font-face{
    font-family: myFontHeader;
    src:url(PFSpekkVAR-Black-subset.otf);
}

.special{
    font-family: myFontHeader;
}

.buttonDefault{
  margin-top: 20px;
  background-color: #00F526;
  border: 0.5px solid #00F526;
  margin: 5px;
  border-radius: 0;
  color: black;
  width: 90%;
  height: 60px; 
}

.buttonDefault:hover{
  background-color: white;
  border: 0.5px solid white;
  transition: 0.3s;
}

.inputDefault {
  border: 0.5px solid #00F526;
  margin: 5px;
  border-radius: 0;
  height: 60px;
  margin-bottom: 10px;
  color: white;
  background: transparent;
  width: 90%;
}
.inputDefault::selection{
  border: 0.5px solid white ;
  background: transparent;
}

.main{
    height:80vh;
    display: flex;
    justify-content:center;
    margin: 30px;
}


.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}


/* SCROLLBAR STYLING  */
/* width */
::-webkit-scrollbar {
    width: 4px;
    background-color: white;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00F526; 
    /* border-radius: 5px; */
    border-color: 1px solid white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* SELECTION TEXT HIGHLIGHT COLOR  */
::selection {
  background: #00f526;
  color: black;
}



/* CLIENTS SLIDER  */

.slider {
height: 100px;
position: relative;
width: 100%;

display: grid;
place-items: center;
overflow: hidden;
}

.slider::before{
left:0;
top:0;
}
.slider::after{
right:0;
top:0;
transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
width: calc(150px * 20);
display: flex;
animation: scroll  50s linear infinite;
justify-content: space-between;
}

.slide-track2 {
width: calc(150px * 15);
display: flex;
animation: scroll2 15s linear infinite;
justify-content: space-between;
}

.slide {
width: 150px;
height: 110px;

display: grid;
place-items: center;
transition:0.5s;
cursor:pointer;
}
.slide:hover{
transform:scale(0.8)
}

@keyframes scroll {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-150px * 10));
}
}

@keyframes scroll2 {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-150px * 5));
}
}

@media screen and (max-width: 768px) {
.slide-track {
width: calc(80px * 20);
}

.slide-track2 {
width: calc(80px * 15);
}

.slide {
width: 80px;
}

@keyframes scroll {
0% {
  transform: translateX(0px);
}
100% {
  transform: translateX(calc(-80px * 10));
}
}

@keyframes scroll2 {
0% {
  transform: translateX(0px);
}
100% {
  transform: translateX(calc(-80px * 5));
}
}
}





/* BLOGS GALLERY  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
  padding: 4rem;
}

.image img {
  height: auto;
  width: 100%;
}

.image:hover{
  transform:scale(1.05);
  transition:0.5s;
  cursor: grab;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}
