
body {
  overflow-y: scroll;
  color: white;
}
* {
overflow: hidden;
color: white;
}
body, html{
  height: 100vh;
  background-color: black;
}

.HideContactImg{
height:100%;
width: 50%;
background-size: cover;
background-position: center;
background-image: url('./Images/Contact/contactImg.jpg');
border: 0.5px solid #00F526;
border-right: none;
}
.HideContactImg2 {
height: 100%;
width: 50%;
background-size: cover;
background-position: center;
background-image: url('./Images/Contact/contactImg234.png');
border: 0.5px solid #00F526;
border-right: none;
transition: background-color 0.3s; /* Add a smooth transition effect for background color */
}

.HideContactImg2:hover {
background-color: #00F526; /* Change the background color to #00F526 on hover */
}


.contactForm{
height:100%;
width: 50%;
background-color: black;
border: 0.5px solid #00F526;

padding: 20px;
}

@media screen and (max-width: 750px) {
.HideContactImg{
  display: none;
}
.contactForm{
  width: 100%;
}
}

/* FONTING  */
@font-face{
  font-family: myFont;
  src:url(PFSpekkVAR-Light-subset.otf);
  
}

*{
  font-family: myFont;
}

@font-face{
  font-family: myFontHeader;
  src:url(PFSpekkVAR-Black-subset.otf);
}

.special{
  font-family: myFontHeader;
}

.buttonDefault{
margin-top: 20px;
background-color: white;
border: 0.5px solid white;
margin: 5px;
border-radius: 0;
color: black;
width: 98%;
height: 60px; 
}

.buttonDefault:hover{
background-color: transparent;
border: 0.5px solid #00F526;
color: #00f526;
transition: 0.3s;
}

.inputDefault {
border: 0.5px solid #00F526;
margin: 5px;
border-radius: 0;
/* height: 60px; */
margin-bottom: 10px;
color: white;
background: transparent;
width: 98%;
}
.inputDefault::selection{
border: 0.5px solid white ;
background: transparent;
}

.main{
  height:80vh;
  display: flex;
  justify-content:center;
  margin: 30px;
}


.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:white;
}


/* SCROLLBAR STYLING  */
/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(84, 80, 80);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px  rgb(84, 80, 80); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00F526; 
  /* border-radius: 5px; */
  border-color: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* SELECTION TEXT HIGHLIGHT COLOR  */
::selection {
background: #00f526;
color: black;
}



/* CLIENTS SLIDER  */

.slider {
height: 100px;
position: relative;
width: 100%;

display: grid;
place-items: center;
overflow: hidden;
}

.slider::before{
left:0;
top:0;
}
.slider::after{
right:0;
top:0;
transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
width: calc(150px * 20);
display: flex;
animation: scroll  50s linear infinite;
justify-content: space-between;
}

.slide-track2 {
width: calc(150px * 15);
display: flex;
animation: scroll2 15s linear infinite;
justify-content: space-between;
}

.slide {
width: 150px;
height: 110px;

display: grid;
place-items: center;
transition:0.5s;
cursor:pointer;
}
.slide:hover{
transform:scale(0.8)
}

@keyframes scroll {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-150px * 10));
}
}

@keyframes scroll2 {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-150px * 5));
}
}

@media screen and (max-width: 768px) {
.slide-track {
width: calc(80px * 20);
}

.slide-track2 {
width: calc(80px * 15);
}

.slide {
width: 80px;
}

@keyframes scroll {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-80px * 10));
}
}

@keyframes scroll2 {
0% {
transform: translateX(0px);
}
100% {
transform: translateX(calc(-80px * 5));
}
}
}





/* BLOGS GALLERY  */
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.gallery {
column-count: 4;
--webkit-column-count: 4;
--moz-column-count: 4;
gap: 1rem;
padding: 4rem;
}

.image img {
height: auto;
width: 100%;
}

.image:hover{
transform:scale(1.05);
transition:0.5s;
cursor: grabshow ;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
.gallery {
  column-count: 3;
  --webkit-column-count: 3;
  --moz-column-count: 3;
}
}

@media screen and (max-width: 500px) {
.gallery {
  column-count: 2;
  --webkit-column-count: 2;
  --moz-column-count: 2;
}
}

@media screen and (max-width: 400px) {
.gallery {
  column-count: 1;
  --webkit-column-count: 1;
  --moz-column-count: 1;
}
}


#slideHero{
width: 1000vw;
height: 100vh;
}
.item{
width:200px;
height:300px;
background-position: 50% 50%;
display: inline-block;
transition: 0.5s;
background-size: cover;
position: absolute;
z-index: 1;
top:50%;
transform: translate(0,-50%);
border-radius: 20px;
box-shadow:  30px 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
left:0;
top:0;
transform: translate(0,0);
border-radius: 0;
width:100%;
height:100vh;
box-shadow: none;
}
.item:nth-child(3){
left:50%;
}
.item:nth-child(4){
left:calc(50% + 220px);
}
.item:nth-child(5){
left:calc(50% + 440px);
}
.item:nth-child(n+6){
left:calc(50% + 660px);
opacity: 0;
}

.item .content{
position: absolute;
top:50%;
left:100px;
width:450px;
text-align: left;
padding:0;
color:#eee;
transform: translate(0,-50%);
display: none;
}

.item .name{
font-size: 40px;
font-weight: bold;
opacity: 0;
animation:showcontent 1s ease-in-out 1 forwards;
color: white;
}

@media screen and (max-width: 750px) {
.item .content{
  left: 20px;
  top: 35%;
  width: 350px;
}
.item{
  width:120px;
  height:200px;
  top: 68%;
}
.item:nth-child(4){
  left:calc(50% + 130px);
  z-index: 1;
}
.item .name{
  font-size: 35px;
}
}

.item:nth-child(2) .content{
display: block;
}



.item:nth-child(1)::after {
content: "";
background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}

.item:nth-child(2)::after {
content: "";
background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}



.item .des{
margin:20px 0;
opacity: 0;
animation:showcontent 1s ease-in-out 0.3s 1 forwards;
color: white
}
.item button{
padding:10px 20px;
border:none;
opacity: 0;
animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
from{
    opacity: 0;
    transform: translate(0,100px);
    filter:blur(33px);
}to{
    opacity: 1;
    transform: translate(0,0);
    filter:blur(0);
}
}
.buttons{
position: absolute;
bottom:80px;
z-index: 222222;
text-align: center;
width:100%;
}
.buttons button{
width:65px;
height:40px;
border:1px solid #00f526;
transition: 0.5s;
background-color: transparent;
}.buttons button:hover{
border:1px solid white;
color: black;
}


.IconSocial{
position: sticky;
color: #00F526;
}
.IconSocial:hover{
color: #00F526;
}


@media screen and (max-width: 810px) {
#projresp{
  flex-direction: column;
}
}




/** Icon Hover Effect 4 **/
.hover-effect4 {
min-height: 40px;
/* background: #009688; */
text-align: right;
}

.hover-effect4 ul {
padding-top: 10px;
padding-bottom: 0;
}

.hover-effect4 ul li {
display: inline-block;
}

.hover-effect4 ul li a {
font-size: 16px;
color: #fff;
margin: 0px 5px 0px 0px;
line-height: 100px;
display: inline-block;
/* border-radius: 10px; */
width: 30px;
height: 30px;
background: #00f526;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

.hover-effect4 ul li:hover a {
background: black;
border: 1px solid #00f526;

}

.hover-effect4 ul li a i{
color: black;
}

.hover-effect4 ul li:hover a i{
color: #00f526;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}


.BelowContactPack{
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
}

.ContactPackText{
display: flex;
flex-direction: column;
width: 60%;
padding: 10px;
margin-top: -10px;
}

.ContactPackSocials{
display: flex;
flex-direction: row;
justify-content: flex-end;
margin: 0;
width: 250px;
height: 60px;
}

@media screen and (max-width: 1000px) {
.ContactPackText{
  width: 100%;
}

.ContactPackSocials{
  width: 100%;
}

.BelowContactPack{
  flex-direction: column;
}
}

.mainAbout{
  height: 100%;
  /* width: 100%; */
  /* margin-top: -20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutImageDiv{
  display: flex;
  width: 50%;
  justify-content: center;
  /* background-color: red; */
  margin-right: 100px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.AboutTextDiv{
    display: flex;
    width: 50%;
    align-items: center;
} 

.Experiences{
  background-size: cover;
  background-position: center;
  background-image: url('./Images/AboutUs/experiences.jpg');
  height: 270px;
  width: 220px;
  margin-bottom: -30px;
  margin-left: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Innovation{
  background-size: cover;
  background-position: center;
  background-image: url('./Images/AboutUs/innovations.jpg');
  height: 200px;
  width: 300px;
  margin-left: -120px; 
}

.Activations{
  background-size: cover;
  background-position: center;
  background-image: url('./Images/AboutUs/activations.jpg');
  height: 200px;
  width: 300px;
  margin-top: -20px;
  margin-left: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} 

.texttextdiv{
  display: flex;
  width: 700px;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px; 
}

.NotFound{
  font-size: 70px;
  margin-top: -90px;
}

@media screen and (max-width: 1045px) {

  .texttextdiv{
  padding: 0px;
  margin-left: 0px; 
  }

  .mainAbout{
    flex-direction: column;
  }

  .AboutImageDiv{
    /* height: 100%;   */
    width: 100%;
    margin-right: 0px;
    padding: 20px;
  }

  .AboutTextDiv{
    width: 100%;
  }

  .Experiences{
    height: 200px;
    width: 150px;
    margin-bottom: -30px;
    margin-left: 100px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .Innovation{
    height: 130px;
    width: 200px;
    margin-top: -10px;
    margin-left: -90px;
  }
  
  .Activations{
    height: 150px;
    width: 220px;
    margin-top: -20px;
    margin-left: 80px;
  }

}

@media screen and (max-width: 730px) {
  .NotFound{
    font-size: 30px;
    margin-top: -40px;
  }
}