
*, body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url("darkbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: 0.6; */
    overflow-y: hidden;
    color: black;
}
body, html{
    height: 100%
}


@font-face{
    font-family: myFont;
    src:url(Montserrat-Light.ttf);
}
*{
    font-family: myFont;
}
.mainn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
    margin-bottom: 20px;
    margin-right: 30px;
}
.white{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    /* background-color: rgba(252, 3, 145, 0.5); */
    /* padding:20px; */
    justify-content: center;
    align-items: center;
}

.createinvite{
    background-color: white;
    border-radius: 30px;
    color:#1D063C;
    font-weight: 500;
    padding-left:30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}
.invitebutton{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    margin-left: 30px;
    font-size: 30px;
    color:black;
    align-items: left;
    justify-content: left;
}
.m_title, .c_title{
    width: 80%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    border-radius: 10px;
}

input.m_title {
    text-transform: capitalize;
    display: block;
}

input.m_title:first-letter {
    text-transform: uppercase;
}



.main{
    height:80vh;
    display: flex;
    justify-content:center;
    margin: 30px;
}


.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:black;
}

.mainn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
    margin-bottom: 20px;
    margin-right: 30px;
}
.white{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    /* background-color: rgba(252, 3, 145, 0.5); */
    /* padding:20px; */
    justify-content: center;
    align-items: center;
}

.createinvite{
    background-color: black;
    color:#1D063C;
    font-weight: 500;
    padding-left:30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}
.invitebutton{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputty, textarea{
    width: 80%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    border-radius: 10px;
}
  
.mainn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
    margin-bottom: 20px;
    margin-right: 30px;
}
.white{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    /* background-color: rgba(252, 3, 145, 0.5); */
    /* padding:20px; */
    justify-content: center;
    align-items: center;
}

.createinvite{
    background-color: white;
    color:#1D063C;
    font-weight: 500;
    padding-left:30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}
.invitebutton{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputty, textarea{
    width: 80%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}
  



.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 80vh;
}

.form-holder .form-content {
    display: flex;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
}

.form-content .form-items {
    border: 3px solid black;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-itemss {
    border: 3px solid black;
    background-color: black;
    display: inline-block;
    padding: 10px;
    width: 30%;
    min-width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.thankk{
    font-size: 60px;
}


.divvery{
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: center;
    display: hidden;
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .form-content .form-items {
        width: 10%;
      }
      .divvery{
        justify-content: center;
        align-items: center;
    }
  }


  @media only screen and (max-width: 600px) {
    .thankk{
        font-size: 35px;
      }

      .videox{
        padding-top: 55px;
      }

      .nameheading{
        padding-top: 55px;
      }
    }

.form-content h3 {
    color: black;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}


.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}
input{
    background-color:#ebebeb;
    border-color: black;
    border-width: 1px;
}

label{
    overflow-x: hidden;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: black;
}

.form-content input[type=text], .form-content input[type=password],.form-content input[type=textarea], .form-content input[type=email], .form-content input[type=number], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: black;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: black;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.formsgrid {
    width: 70%;
}

.createform {
    width: 70%;
}

.profileimage {
    width:30%;
    height:30%;
}

.profilepanel {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}



.returnbutton {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}
.mainn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
    margin-bottom: 20px;
    margin-right: 30px;
}
.white{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:60%;
    /* background-color: rgba(252, 3, 145, 0.5); */
    /* padding:20px; */
    justify-content: center;
    align-items: center;
}

.createinvite{
    background-color: white;
    color:#1D063C;
    font-weight: 500;
    padding-left:30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}
.invitebutton{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputty, textarea{
    width: 80%;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    background-color: white;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00443F; 
    /* border-radius: 5px; */
    border-color: 1px solid white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white}


.main{
    height:80vh;
    display: flex;
    justify-content:center;
    margin: 30px;
}


.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}

.main{
    height:80vh;
    display: flex;
    justify-content:center;
    margin: 30px;
}


.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:black;
}

button{
    border-radius: 40px;
    border:none;
    margin:5px;
    padding:10px
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 80vh;
}

.form-holder .form-content {
    display: flex;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-itemss {
    border: 3px solid #fff;
    background-color: black;
    display: inline-block;
    padding: 10px;
    width: 30%;
    min-width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .form-content .form-items {
        width: 10%;
      }
  }



.form-content{
    color: #fff;
    text-align: left;
    margin-bottom: 5px;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.btn-primary{
    background-color: #6C757D;
    margin: auto;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.formsgrid {
    width: 70%;
}

.createform {
    width: 70%;
}

.profileimage {
    width:30%;
    height:30%;
}

.profilepanel {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}



.returnbutton {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}



.bell{
    transform: scale(2.0);
    margin-bottom: 30px;
    margin-right: 40px;
    margin-top: 20px;
}
.bell:hover{
    cursor:grab;
}

.plussy:hover{
    cursor: grab;
    background-color: #1D063C;
}


.confirmer{
    border-radius:0;
    color: white;
    background-color: black;
    width: 20%;
}

.confirmer:hover{
    background-color: rgb(52, 49, 49);
}

.confirmi{
    background-color: #00443F;
    color: white;
    border: 1px solid  #00443F;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.confirmi:hover{
    background-color: white;
    color: black;
    font-weight: 900;
    /* border: 2px solid black; */
}

.videox{
    margin:0 auto;
    height:70vh;
}

@media only screen and (max-width: 600px) {
    .videox {
        height:100%;
        width: 100%;
    }
  }

  .qrscan{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.scanframe{
    /* height: 480px;
    width: 854px; */
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index:300000;
    left:0;
    bottom:10px;
}

.scan{
    height: 200px;
    width: 50%;

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

section{
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position: center center;
    
    width:100px;


    left:50
}

video{
    height: 200px;

    left:0
}



table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-weight: 900;
  }
  
  tr:nth-child(odd) {
    color: white;
    background-color: lightgreen;
  }
  
  /* .UserRow{
    padding-right: 100px;
    font-weight: 900;
    color: white;
  }
  
  .UserRow:nth-child(even) {
    color: yellow;  
    background-color: red;
  } */